[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
Flask = "*"
requests = "==2.26.0"
urllib3 = "==1.26.6"
gunicorn = "*"
flask = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.8"
