[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bs4 = "*"
Flask = "*"
requests = "*"
urllib3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
