{% extends "base.html" %}
{% block title %}
<h1>
    Brewpubs
</h1>
{% endblock %}
{% block content %}
<h3>
    Bend has brewpubs galore, with one of the highest breweries per capita in the united states! That means we've got you covered if you want a pint.
</h3>
<div>
    <h4>
        Boneyard Beer
    </h4>
    <p style="text-align: left">
        placeholder info text
        <a href="https://boneyardbeer.com/">
            Website
        </a>
        <a href="https://www.google.com/maps/place/Boneyard+Beer+Pub/@44.0690859,-121.3083882,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c99ea608f6e5:0x16660f31b7db893c!8m2!3d44.0690859!4d-121.3061995">
            Map
        </a>
    </p>
</div>
<div>
    <h4>
        GoodLife Brewing
    </h4>
    <p style="text-align: left;">
        GoodLife has several solid IPA'a and pale ales, as well as a great Bavarian lager. <br>
        Standard pub fare menu done well, but lacking in gluten free or vegetarian options.<br>
        GoodLife is on the Westside of Bend, with easy parking. They have an indoor setting<br>
        that is relatively small, but has a few large tables for big groups. In addition, they <br>
        have two large outdoor seating areas, one on a paved patio in between the <br>
        buildings, and another on a large lawn tucked behind the brewery. The Biergarten<br>
        has a large firepit, and umbrellas at all the tables to help with the sun. The<br>
        patio has small fires to keep you warm in the winter as well. They have a full bar,<br>
        and sell beer and liquor to go. With a locals night on Thursdays for 3$ pints, <br>
        and the large dog-friendly lawn, GoodLife is one you won't want to miss.<br>
        <a href="https://www.goodlifebrewing.com/">
            Website
        </a>
        <a href="https://www.google.com/maps/place/GoodLife+Brewing+Company/@44.0508742,-121.3324614,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c7d5d2353e65:0xd82fbe83865c17bd!8m2!3d44.0512929!4d-121.3302774">
            Map
        </a>
    </p>    
</div>

<div >
    <h4>
        Worthy Brewing Co.
    </h4>
    <p style="text-align: left;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Bend Brewing Co.
    </h4>
    <p style="text-align: right;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Crux Fermentation Project
    </h4>
    <p style="text-align: left;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Silver Moon Brewing
    </h4>
    <p style="text-align: right;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Deschutes Brewery
    </h4>
    <p style="text-align: left;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div>
    <h4>
        Sunriver
    </h4>
    <p style="text-align: right;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        10 Barrel
    </h4>
    <p style="text-align: left;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Cascade Lakes Brewing Co.
    </h4>
    <p style="text-align: right;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Bevel Craft Brewing
    </h4>
    <p style="text-align: left;">
        Bevel Brewing has several great IPA'a and pale ales, with a solid sour every now and then. <br>
        They have a food truck pod in lieu of a kitchen, with four trucks. For more info on the trucks <br>
        themselves, check out <a href="/food_trucks-taphouses">the food truck page.</a> Located on the <br>
        Southeast side of Bend, Bevel usually has easy parking, but they can get crowded on a sunny <br>
        Friday afternoon. There are a few tables inside, and a large outdoor setting with some gravel <br>
        and some pavement. They have umbrellas at almost every table, and a large awesome fire for the <br>
        winter that has limited seating around it. Dogs are welcome, and they provide bowls of water, <br>
        but the gravel and pavement can be a little uncomfortable for them. They does crowler and growler<br> 
        fills, but doesn't have six-packs for sale. Bevel is also the local disc-golfer's bar, with discs <br>
        for sale and professional disc-golf on the tv's. Somewhat off the beaten path, with nice flowers, <br>
        and tucked away from the road, Bevel is a great spot for beers and food.
        <a href="https://www.bevelbeer.com/"></a>
            Website
        </a>
        <a href="https://www.google.com/maps/place/Bevel+Craft+Brewing/@44.0457417,-121.2929373,17.91z/data=!4m5!3m4!1s0x54b8c7e577dabbc5:0x99a2931a4f135599!8m2!3d44.0460176!4d-121.2917203">
        Map
        </a>
    </p>
</div>
<div >
    <h4>
        Bridge 99
    </h4>
    <p style="text-align: right;">
        <a href="">
            Website
        </a>
        <a href="">
            Map
        </a>
    </p>
</div>
<div >
    <h4>
        Craft Kitchen and Brewery
    </h4>
    <p style="text-align: left;">
        <a href="https://craftoregon.com/">
            Website
        </a>
        <a href="https://www.google.com/maps/place/Craft+Kitchen+%26+Brewery/@44.0871932,-121.2926611,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c62cf657e967:0x2a44a407e7d090ab!8m2!3d44.0870595!4d-121.2903872">
            Map
        </a>
    </p>
</div>
{% endblock %}