{% extends "base.html" %}
{% block title %}
<h1>
    Brewpubs
</h1>
{% endblock %}
{% block content %}
<h3>
    Bend has brewpubs galore, with one of the highest breweries per capita in the united states! That means we've got you covered if you want a pint.
</h3>
<div>
    <a href="/">
        <h4>
            Boneyard
        </h4>
    </a>
    <p style="text-align: left">
        placeholder
    </p>
    
</div>
<div>
    <h4>
        GoodLife
    </h4>
    <p style="text-align: right;">
        
    </p>
</div>
<div >
    <h4>
        Worthy
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
<div >
    <h4>
        Bend Brewing
    </h4>
    <p style="text-align: right;">
        
    </p>
</div>
<div >
    <h4>
        Crux
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
<div >
    <h4>
        Silver Moon
    </h4>
    <p style="text-align: right;">
    
    </p>
</div>
<div >
    <h4>
        Deschutes
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
<div>
    <h4>
        Sunriver
    </h4>
    <p style="text-align: right;">
        
    </p>
</div>
<div >
    <h4>
        10 Barrel
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
<div >
    <h4>
        Cascade Lakes
    </h4>
    <p style="text-align: right;">
        
    </p>
</div>
<div >
    <h4>
        Bevel
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
<div >
    <h4>
        Bridge 99
    </h4>
    <p style="text-align: right;">
        
    </p>
</div>
<div >
    <h4>
        Craft
    </h4>
    <p style="text-align: left;">
        
    </p>
</div>
{% endblock %}