{% extends "base.html" %}
{% block title %}
<h1>
    Bars
</h1>
<div class="container">
    <a>
        <h4>
            Velvet
        </h4>
    </a>
    <div class="column_2">
        <p>
            placeholder text
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Dogwood Coctail Cabin
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            placeholder
        </p>
    </div>
</div>
<div class="container">
    <h4>
        San Simon
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        McMenamins
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        The Capitol
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Flights
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        The Stihl Whiskey Bar
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Portello Wine Cafe
    </h4>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Duda's Billiards Bar
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}