<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style></style>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#">Food</a>
        <div class="dropdown-content">
          <a href="/breakfast">Breakfast</a>
          <a href="/lunch">Lunch</a>
          <a href="/dinner">Dinner</a>
          <a href="/food_trucks-taphouses">Food Trucks</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Drinks</a>
        <div class="dropdown-content">
          <a href="/brewpubs">Brewpubs</a>
          <a href="/cideries">Cideries</a>
          <a href="/food_trucks-taphouses">Taphouses</a>
          <a href="/bars">Bars</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Recreation</a>
        <div class="dropdown-content">
          <a href="/summer">Summer</a>
          <a href="/winter">Winter</a>
          <a href="/indoor">Indoor</a>
          <a href="/dog_parks">Dog Parks</a>
        </div>
      </li>
    </ul>
    <div class="content">
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    <div class="footer" style="text-align: left;">
    <p>© 2021 Corinne Bradford</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
  </html>