{% extends "base.html" %}
{% block title %}
<h1>
    Breakfast Places
</h1>
{% endblock %}
{% block content %}
<h3>
    Going out for breakfast in bend is a fun thing to do. Theres tons of great choices, but they get busy quickly. <br>
    Best bet is to go early, or bring some patience.
</h3>
<div class="container">
    <a href="https://www.bendinspoon.com/carryout-menu">
        <h4>
            Chow
        </h4>
    </a>
    <div class="column_2">
        <p>
            Cool locally sourced creative menu. Always a line after 9:30 am. Nice outdoor 
            seating, cute cottage style indoor seating but can be loud. Serves breakfast
            and lunch. Eclectic and organic style food. Has outdoor seating tucked away
            from the road, allows dogs.
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/chow.jpg" alt="Photo of Chow's Logo"/>
    </div>
</div>
<div class="container">
    <h4>
        McKay Cottage
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Great bloody mary's, cottage style indoor seating that can be a little cramped.
            Usually pretty busy with a line out the door. Serves breakfast and lunch. Usually
            pretty large and hearty portions. More homestyle or traditional food. Has some
            outdoor seating, unknown if dogs are allowed.
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Mother's Juice Cafe
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        McMenamins
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Sidelines Sports Bar
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Nancy P's Bakery
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Sparrow Bakery
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Hideaway
    </h4>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Cabin 22
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}