{% extends "base.html" %}
{% block title %}
<h1>
    Brewpubs
</h1>
{% endblock %}
{% block content %}
<h3>
    Bend has brewpubs galore, with one of the highest breweries per capita in the united states! That means we've got you covered if you want a pint.
</h3>
<div class="container">
    <h4>
        Boneyard Beer
    </h4>
    <div class="column_2">
        <p class="left_text">
            placeholder info text
            <a href="https://boneyardbeer.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Boneyard+Beer+Pub/@44.0690859,-121.3083882,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c99ea608f6e5:0x16660f31b7db893c!8m2!3d44.0690859!4d-121.3061995">
                Map
            </a>
        </p>
    </div>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        GoodLife Brewing
    </h4>
    <div class="column_1">
        <img src="/static/images/goodlife2.jpg" alt="Photo of Goodlife Brewing"/>
    </div>
    <div class="column_2">
        <p>
            GoodLife has several solid IPA'a and pale ales, as well as a great Bavarian lager.
            Standard pub fare menu done well, but lacking in gluten free or vegetarian options.
            GoodLife is on the Westside of Bend, with easy parking. They have an indoor setting
            that is relatively small, but has a few large tables for big groups. In addition, they
            have two large outdoor seating areas, one on a paved patio in between the
            buildings, and another on a large lawn tucked behind the brewery. The Biergarten
            has a large firepit, and umbrellas at all the tables to help with the sun. The
            patio has small fires to keep you warm in the winter as well. They have a full bar,
            and sell beer and liquor to go. With a locals night on Thursdays for 3$ pints,
            and the large dog-friendly lawn, GoodLife is one you won't want to miss.
            <a href="https://www.goodlifebrewing.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/GoodLife+Brewing+Company/@44.0508742,-121.3324614,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c7d5d2353e65:0xd82fbe83865c17bd!8m2!3d44.0512929!4d-121.3302774">
                Map
            </a>
        </p> 
    </div>
</div>

<div class="container">
    <h4>
        Worthy Brewing Co.
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://worthy.beer/">
                Website
            </a>
            <a href="https://www.google.com/maps/search/worthy+brewing/@44.0604136,-121.3488894,13z/data=!3m1!4b1">
                Map
            </a>
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Bend Brewing Co.
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://www.bendbrewingco.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Bend+Brewing+Company/@44.060419,-121.3160586,17z/data=!3m2!4b1!5s0x54b8c89d03c45597:0x5371a73f99263653!4m5!3m4!1s0x54b8c89d01e8039d:0xd0e50b924d2bbe9e!8m2!3d44.0603258!4d-121.3137037">
                Map
            </a>
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Crux Fermentation Project
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://www.cruxfermentation.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Crux+Fermentation+Project/@44.0507798,-121.31009,17z/data=!3m2!4b1!5s0x54b8c62feaf610a3:0x95493f0b16996049!4m5!3m4!1s0x54b8c62fea70fe09:0x45a7d431da9443cd!8m2!3d44.0507711!4d-121.307965">
                Map
            </a>
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Silver Moon Brewing
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://www.silvermoonbrewing.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Silver+Moon+Brewing/@44.0602797,-121.3100275,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c89e0373c1fb:0xc22957f36c0fbcd7!8m2!3d44.0601194!4d-121.3077778">
                Map
            </a>
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Deschutes Brewery
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://www.deschutesbrewery.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/search/deschutes+brewing/@44.066225,-121.3410098,13z/data=!3m1!4b1">
                Map
            </a>
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Sunriver Brewing Co.
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
            <a href="https://www.sunriverbrewingcompany.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/search/sunriver+brewing/@44.0662314,-121.3212107,14.2z">
                Map
            </a>
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        10 Barrel Brewing Co.
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://10barrel.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/search/10+barrel+brewing/@44.0711122,-121.3224756,14z/data=!3m1!4b1">
                Map
            </a>
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Cascade Lakes Brewing Co.
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://www.cascadelakes.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/search/cascade+lakes+brewing+company/@44.1487494,-121.3911547,11z/data=!3m1!4b1">
                Map
            </a>
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Bevel Craft Brewing
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Bevel Brewing has several great IPA'a and pale ales, with a solid sour every now and then.
            They have a food truck pod in lieu of a kitchen, with four trucks. For more info on the trucks
            themselves, check out <a href="/food_trucks-taphouses">the food truck page.</a> Located on the
            Southeast side of Bend, Bevel usually has easy parking, but they can get crowded on a sunny
            Friday afternoon. There are a few tables inside, and a large outdoor setting with some gravel
            and some pavement. They have umbrellas at almost every table, and a large awesome fire for the
            winter that has limited seating around it. Dogs are welcome, and they provide bowls of water,
            but the gravel and pavement can be a little uncomfortable for them. They does crowler and growler
            fills, but doesn't have six-packs for sale. Bevel is also the local disc-golfer's bar, with discs
            for sale and professional disc-golf on the tv's. Somewhat off the beaten path, with nice flowers,
            and tucked away from the road, Bevel is a great spot for beers and food.
            <a href="https://www.bevelbeer.com/"></a>
                Website
            </a>
            <a href="https://www.google.com/maps/place/Bevel+Craft+Brewing/@44.0457417,-121.2929373,17.91z/data=!4m5!3m4!1s0x54b8c7e577dabbc5:0x99a2931a4f135599!8m2!3d44.0460176!4d-121.2917203">
            Map
            </a>
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Bridge 99 Brewery
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://bridge99brewery.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Bridge+99+Brewery/@44.0908987,-121.2937628,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8cf312359f109:0xcc2050c453ccc564!8m2!3d44.0909005!4d-121.2916763">
                Map
            </a>
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Craft Kitchen and Brewery
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
            <a href="https://craftoregon.com/">
                Website
            </a>
            <a href="https://www.google.com/maps/place/Craft+Kitchen+%26+Brewery/@44.0871932,-121.2926611,17z/data=!3m1!4b1!4m5!3m4!1s0x54b8c62cf657e967:0x2a44a407e7d090ab!8m2!3d44.0870595!4d-121.2903872">
                Map
            </a>
        </p>
    </div>
</div>
{% endblock %}