{% extends "base.html" %}
{% block title %}
<h1>
    Cideries
</h1>
<div class="container">
    <h4>
        Bend Cider Co.
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Avid Cider Company
    </h4>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Tumalo Cider Co.
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}