{% extends "base.html" %}
{% block title %}
<h1>
    Dinner Places
</h1>
{% endblock %}
{% block content %}
<h3>
    Most of the places on the lunch list are also open for dinner,
    but if you're looking for something a little more formal these places have you covered.
    (It is still Bend though)
</h3>
</div>
<div class="container">
    <h4>
        Zydeco
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        900 Wall
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Ariana
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Jakalope Grill
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Joolz
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Barrio
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Chi
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Bosa
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Zydeco
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Multiple at the old mill
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
{% endblock %}