{% extends "base.html" %}
{% block title %}
<h1>
    Dog Parks
</h1>
<div class="container">
    <h4>
        Discovery
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Overturf
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Riverbend
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
       Hillside
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Pine Nursery
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Hollinshead
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Ponderosa
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Big Sky
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info

        </p>
    </div>
</div>
{% endblock %}