{% extends "base.html" %}
{% block title %}
<h1>
    Favorites
</h1>
{% endblock %}
{% block content %}
<h3>
    Too many options? Here are some favorites from each category.
</h3>
<div class="container">
    <a>
        <h4>
            Newport Market - Best Market
        </h4>
    </a>
    <div class="column_2">
        <p>
           Placeholder info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Photo of Chow's Logo"/>
    </div>
</div>
<div class="container">
    <h4>
        Strictly Organic - Best Coffee
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
           Placeholder info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Dogwood Coctail Cabin - Best coctails
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Sparrow Bakery - Best Bakery
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Bonta - Best Gelato (Best Dessert?)
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        McMenamin's O'Kanes Fire Pits - Best Late Night Hangout
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Sidelines - Best Sports Bar
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Downtown, Outlet Mall, The Old Mill - Best Shopping
    </h4>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Discovery - Best Dog Park
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}