{% extends "base.html" %}
{% block title %}
<h1>
    Food Truck Pods and Taphouses
</h1>
<div class="container">
    <h4>
        The Lot
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        On Tap
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        River's Place
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Bevel
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Podski
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Spoken Moto
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Cross Cut Warming Hut
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        The Office
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Midtown Yacht Club
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}