{% extends "base.html" %}
{% block title %}
<h1>
    Lunch Places
</h1>
{% endblock %}
{% block content %}
<h3>
    Lots of great choices, whether solo or big groups, these places are good for a mid-day bite.
</h3>
<div class="container">
    <h4>
        Wild Rose
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Jackson's Corner
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Cabin 22
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Broken Top Bottle Shop
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Global Fusion
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Spork
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Pizza Mondo
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Brother Jon's (two locations)
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Laughing Planet
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for restaurant info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}