{% extends "base.html" %}
{% block title %}
<h1>
    Winter Recreation
</h1>
<div class="container">
    <h4>
        Downhill Ski
    </h4>
    <div class="column_2">
        <p>
            Placeholder text. Mt. B, Hoodoo, Timberline
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Cross Country Ski
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info

        </p>
    </div>
</div>
<div class="container">
    <h4>
        Snowshoe
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
<div class="container">
    <h4>
        Ice Skating
    </h4>
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
    <div class="column_2">
        <p>
            Placeholder text for info.
        </p>
    </div>
</div>
<div class="container">
    <h4>
        Rent gear here
    </h4>
    <div class="column_2">
        <p>
            Placeholder text for info
        </p>
    </div>  
    <div class="column_1">
        <img src="/static/images/placeholder.png" alt="Placeholder photo"/>
    </div>
</div>
{% endblock %}